* {
  font-size: 18px;
  font-weight: 400;  
}

span, .title > a > i{
  color: #FF5678;
}

select{
  margin-bottom: 10px;
}


.col-right .title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.col-right .title > a > i {
  font-size: 30px;
  margin-right: 10px;

}

.col-right > .title > h2, .title > h2 > span {
  font-size: 34px;
  font-weight: 500;
}

.title > h2 > span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.col-right > form {
  display: flex;
  flex-direction: column;
  width: 489px;
}
.col-right > form > label {
 margin-bottom: 10px;
 margin-left: 10px;
}

.col-right > form > .select-div > select {
  appearance: none;
  padding-left: 20px;
}

.col-right > form > .select-div {
  position: relative;
}

.col-right > form > .select-div::after {
  position: absolute;
  top: 16px;
  right: 16px;

  font-size: 22px;
  content: '\f107';
  font-family: 'FontAwesome';
  font-weight: 600;
  color: #35E6E9;
}

.col-right > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-right > form > div > p:first-child {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 7px;
}

.col-right > form > div > p:last-child {
  font-family: 'Poppins', sans-serif;
  
  color: #FF5678;
  margin-bottom: 21px;
}

.col-right > form > button {
  border: 2px solid #C0EBF4 ;
  background-color:#35E6E9 ;
  color: #FFF;

  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
  margin-top: 46px;
}


